on:
  workflow_dispatch:
  schedule:
  - cron: "0 20 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eco4cast/rocker-neon4cast
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
# Point to the right path, run the right Rscript command
      - name: Install rMR package
        run: R -e "install.packages('remotes'); remotes::install_github('jyliu3/rMR')"
      - name: Run automatic prediction file
        run: Rscript Main.R 
