on:
  workflow_dispatch:
  schedule:
  - cron: "0 20 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eco4cast/rocker-neon4cast
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: System dependencies for R packages
        run: |
          apt-get update
          apt-get install -y --no-install-recommends \
            git \
            build-essential \
            libcurl4-openssl-dev \
            libssl-dev \
            libxml2-dev \
            pkg-config

          
# Point to the right path, run the right Rscript command
      - name: Install rMR package
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          R -e "install.packages('remotes', repos='https://cloud.r-project.org')"
          R -e "remotes::install_github('mirroreau/rMR', dependencies=TRUE, upgrade='never')"
      - name: Run automatic prediction file
        run: Rscript Main.R 
